# Changing Unix Time using the Pandas Library

In [28]:
# David-senpai-San's Example Function

def convert(a):
    y = a/31557600
    d = ((y-int(y)) * 365.25)
    h = ((d-int(d)) * 24)
    m = ((h-int(h)) * 60)
    s = ((m-int(m)) * 60)
    ms = (s-int(s)) * 1000
    print("Years:",int(y), "\nDays:",int(d), "\nHours:",int(h), "\nMinutes:",int(m), "\nSeconds:",int(s), "\nMilliseconds:",int(ms))

In [1]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('C:/Users/dsan2/Desktop/parsed_data_youtube.csv')
df.head()

      unix_time  response_time
0  1.527705e+09              1
1  1.527705e+09              1
2  1.527705e+09              1
3  1.527705e+09              1
4  1.527705e+09              1

In [26]:
df['years'] = df['unix_time'] / 31557600
df['days'] = (df['years'] - df['years'].astype(int)) * 365.25
df['hours'] = (df['days'] - df['days'].astype(int)) * 24
df['minutes'] = (df['hours'] - df['hours'].astype(int)) * 60
df['seconds'] = (df['minutes'] - df['minutes'].astype(int)) * 60
df['milliseconds'] = (df['seconds'] - df['seconds'].astype(int)) * 1000

In [27]:
df.head()

,unix_time,response_time,years,days,hours,minutes,seconds,milliseconds
0,1.527705e+09,1,48.41004,149.767135,18.411243,24.674594,40.475638,475.638497
1,1.527705e+09,1,48.41004,149.767147,18.411524,24.691444,41.486657,486.656970
2,1.527705e+09,1,48.41004,149.767159,18.411806,24.708376,42.502577,502.577342
3,1.527705e+09,1,48.41004,149.767170,18.412085,24.725093,43.505551,505.551108
4,1.527705e+09,1,48.41004,149.767182,18.412366,24.741969,44.518167,518.166998