# Example to fix NaN values caused by Excel

In [1]:
import pandas as pd

df = pd.read_csv('C:/Users/TallGuy/DIRECTSTEM/Summer_2018-PTWS/NaN_problem.csv')
df.head()

      unix_time  response_time
0           NaN            NaN
1  1.527706e+09            2.0
2           NaN            NaN
3  1.527706e+09            2.0
4           NaN            NaN

In [5]:
# The thing to remember is that the method pandas.DataFrame.dropna "Returns an object" so you need to assign it to a variable

new_df = df.dropna()
new_df.head()

      unix_time  response_time
1  1.527706e+09            2.0
3  1.527706e+09            2.0
5  1.527706e+09            1.0
7  1.527706e+09            2.0
9  1.527706e+09            2.0